.en {

  .cont__section--label-soon:before {
    .img-retina('../img/en_label-soon.png', '../img/en_label-soon@2x.png', 162px, 162px);
  }
}
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .en {
    .cont__section--label-soon:before {
      .img-retina('../img/en_label-soon_right.png', '../img/en_label-soon_right@2x.png', 162px, 162px);
    }
  }
}