.feat {
  text-align: center;
  padding: 57px 0 36px;
  position: relative;
  z-index: @zSlider+10;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: -10px;
  //   left: 50%;
  //   margin-left: -12px;
  //   border: 12px solid transparent;
  //   width: 0;
  //   height: 0;
  //   border-bottom-color: @gray;
  //   opacity: 0;
  //   .trz(all,.4s);
  // }

  // &.active:before {
  //   top: -22px;
  //   opacity: 1;
  // }

  &__icon {
    margin: 0 auto 26px;
    // fill: @blue;
    height: 53px !important;
    position: relative;

    &:before {
      margin: 0 auto;
    }
  }

  &__hdr {
    display: block;
    .h2;

    margin: 0 auto 26px;
  }

  // &__text {
  // }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .feat {
    padding: 25px @m_offset 9px;
    border-bottom: 1px solid @mobile-border-color;

    &--last {
      border-bottom: none;
    }

    &__icon {
      margin: 0 auto 21px;
    }

    &__hdr {
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      margin: 0 0 11px;
    }
  }
}