.header {
  background-color: @blue;
  z-index: @zHeader;
  color: #fff;
  .cf;
  padding: 30px 40px 40px;
  // background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &--transparent {
    background-color: transparent;
  }

  &.fixed {
    position: fixed;
    background-color: @blue-ra;
  }

  &__main {
    padding-left: @logoWidth+20px; // 20px + 20px навигации
    width: 100%;
    .cf;
    float: right;
    position: relative;
    padding-right: 150px;
    z-index: @zHeader;
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    .btn;
    min-width: 130px;
    max-width: 150px;
    padding: 0 10px;
    text-align: center;
  }

  &__hamburger-btn {
    display: none;

    width: 33px;
    height: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    .opacity-hvr;
    .trz(opacity);

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fff;
    }

    &:after {
      display: none !important;
      content: '';
      position: absolute;
      right: 0;
      top: -3px;
      width: 23px;
      height: 23px;
      // background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2037.3%2037.3%22%20enable-background%3D%22new%200%200%2037.3%2037.3%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M1.1%2036.2L36.2%201.1M36.2%2036.2L1.1%201.1%22%2F%3E%3C%2Fsvg%3E');
      // background-repeat: no-repeat;
      // background-size: 23px 23px;
    }

    &.opened {
      border-color: transparent;

      &:before {
        display: none;
      }

      &:after {
        display: block !important;
      }
    }
  }

  &__logo {
    width: @logoWidth;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: @zHeader+10;
  }
}

.js.no-mobile .header__btn--mobile,
.js.mobile .header__btn--no-mobile {
  display: none !important;
}

// =========================
//       FIXED HEADER
// =========================
.header.fixed {
  background-color: #fff;
  // background-color: rgba(255,255,255,0.9);
  color: @dark_normal;
  padding: 20px 40px 20px;

  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1), 0px 3px 10px 0px rgba(0, 0, 0, 0.2);

  .header__logo {
    // top: 20px;
    top: 28px;
  }

  .header__btn {
    border-color: @blue;
    color: #444;

    &:hover,
    &:active {
      border-color: @blue-condensed;
      background-color: @blue-condensed;
      color: #fff;
    }

    &:active {
      color: rgba(255,255,255,0.3);
    }
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
@media (min-width: @screen-sm-min) and (max-width: 1020px) {
  .header {
    left: 0;
    right: auto;
    width: 1020px;
    overflow: auto;
  }
}
// ==============
//      DESK
// ==============
@media (min-width: @screen-sm-min) {
  .header__main {
    display: block !important;
    min-width: @cnt - @logoWidth - 20px;
  }
}
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .header {
    padding: 10px 20px 20px;
    position: relative;
    background-color: @blue;

    // &--slider {
    //   background-color: transparent;

    //   &.opened {
    //     background-color: @blue;
    //   }
    // }

    &--transparent {
      position: absolute;
      top: 0;
      background-color: transparent;

      &.opened {
        background-color: @blue;
        // position: relative;
      }
    }

    &__main {
      display: none;
      clear: both;
      float: none;
      position: relative;
      text-align: center;
      padding: 18px 0 36px;

      &.opened {
        display: block;
      }
    }

    &__hamburger-btn {
      display: block;
    }

    &__logo {
      width: @logoWidthMobile;
      position: static;
      margin-top: 10px;
    }

    &__btn {
      position: static;
      // padding: 6px 25px;
      max-width: none;
      padding: 0 25px;
      border-radius: 24px;
    }
  }
}