.language-switch {
  float: left;
  margin: 6px 23px 0 0;

  &__item {
    .tdn;
    .trz;
    text-transform: uppercase;
    font-weight: bold;
    .dark-blue-link;

    &.active {
      pointer-events: none;
      color: #000;
      &:hover,
      &:active {
        color: #000;
      }
    }

    &+& {
      margin-left: 13px;
    }
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
//
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .language-switch {
    margin: -1px 10px 0 0;
  }
}