.modal {
  text-align: center;

  &.fade .modal-dialog {
    .transition-transform(~"0.3s ease-out");
  }

  &__header {
    .h1;
    margin: 0 0 28px;

    &--h2 {
      .h2;
      margin: 0 0 24px;
    }
  }

  &__text {
    margin: 0 0 32px;
  }

  &__img{
    &:before {
      display: block;
      margin: 0 auto;
    }
    display: block;
    margin: 0 0 28px;

    &.icon-message-success {
      position: relative;
      left: 7px;
    }
  }

  &__close.btn-close {
    .text-hide;
    position: absolute;
    top: 0;
    // right: 0;
    right: 40px;
    z-index: @zindex-modal;

    &.modal__close--no-z-index {
      z-index: 0;
    }
  }

  .modal-dialog {
    margin: 20px 0;
    width: 100%;
  }

  .modal-content {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.modal-gray-backdrop .modal-backdrop {
  background-color: @gray;
}

// Bootstrap overwrite
@media (min-width: @screen-sm-min) {
  .modal {
    .modal-dialog {
      width: 100%;
      margin: 100px auto;
    }

    .modal-content {
      box-shadow: none;
    }
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
//
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .modal {
    &__header {
      font-size: 24px;
      text-align: left;
      margin: 0 0 24px;

      &--h2 {
        text-align: center;
      }
    }

    &__close.btn-close {
      top: 0;
      right: 20px;

      &:before {
        width: 23px;
        height: 23px;
        background-size: 23px 23px;
      }
    }
  }

}