.nav {
  float: right;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .cf;
  }

  &__item {
    float: left;
    margin-right: 6px;
    
    &.active {
      pointer-events: none;

      .nav__link {
        pointer-events: none;
        opacity: .6;
      }
    }

  }

  &__link {
    color: #fff;
    display: block;
    padding: 2px 20px;
    line-height: 33px;
    .tdn;
    .trz;
    border-radius: 37px;
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      height: 2px;
      bottom: 0px;
      background-color: #fff;
      // right: 50%;
      // visibility: hidden;
      right: 100%;
      margin-right: 20px;
      .trz(right, .3s);
    }

    &:hover,
    &:focus {
      outline: none;
      color: #fff;
      &:after {
        right: 0;
      }
    }
    
    &:active {
      opacity: .3;
      color: #fff;
    }
  }
}

// =========================
//       FIXED HEADER
// =========================
.header.fixed {
  .nav__link {
    color: #444;

    &:after {
      background-color: @blue-condensed;
    }
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .nav {
    float: none;
    display: block;
    padding: 0 0 16px;

    &__item {
      margin: 0;
      float: none;
      display: block;
    }

    &__link {
      line-height: 32px;
      .opacity-hvr();
    }

    &__link:after {
      display: none;
    }
  }
}