.social {
  .cf;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 7px;
  float: left;

  &__item {
    float: left;
    margin-left: 36px;
  }

  &__icon {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-decoration: none;
    line-height: 24px;
    .tdn;

    color: @blue-light;

    // svg {
    //   fill: @blue-light;
    // }

    &:hover,
    &:focus {
      color: @blue-condensed;
      outline: none;
      // svg {
      //   fill: @blue-condensed;
      // }
    }

    &:active {
      color: @blue-light;
      color: @blue-light-ra-act;
      // svg {
      //   fill: @blue-light;
      //   fill: @blue-light-ra-act;
      // }
    }

    &--inst {
      .text-hide;
      display: block;
      width: 20px;
      height: 20px;

      &:active {
        opacity: .3;
      }
    }

    &--vk {
      font-size: 21px;
      position: relative;
      bottom: 2px;
    }

    &--fb {
      font-size: 21px;
      position: relative;
      bottom: 1px;
    }
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
//
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .social {
    padding: 0;
  }
}