.works {

  &__top {
    .cf;
    padding: 32px 40px 12px;
  }

  &__row {
    padding: 0 20px;
    margin-bottom: 40px;
    .cf;

    &+& {
      margin-top: 40px;
      margin-bottom: 0;
    }

    &--reverse-aligned {
      .works__col-small,
      .works__col-big {
        float: right;
      }
    }
  }

  &__col-small {
    float: left;
    padding: 0 20px;
    width: 33.33%;
  }

  &__col-big {
    float: left;
    padding: 0 20px;
    width: 66.66%;
  }

  &__switch {
    float: left;
  }

  &__filter {
    float: right;
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .works {
    &__top {
      padding: 0;
      margin: 0 0 17px;
    }

    &__switch {
      float: none;
      text-align: center;
      padding: 20px 0 21px;
      background-color: @gray;
      margin: 0 0 20px;
    }

    &__filter {
      float: none;
    }

    &__col-small,
    &__col-big {
      width: 100%;
      float: none;
    }

    &__row,
    &__col-small,
    &__col-big {
      padding: 0;
    }

    &__row {
      margin-bottom: 0;
      &+& {
        margin-top: 0;
      }
    }
  }
}