.works {
  padding: 0 20px;
}

.works__container {
  // padding: 0 20px;
  position: relative;
  .cf;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
}

.work-item {
  margin: 0;
  // margin: 20px;
  display: block;
  padding: 20px;
  // margin: 20px;
  // float: left;
  width: 33.33%;
  // width: 20%;
  // width: 33%;
  min-height: 100px;
  position: relative;

  &.big {
    // width: 66%;
    width: 66.66%;
    // width: 40%;
  }

  &__inner {
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: 50% 50%;

    &:hover {
      .work-item__desc {
        top: 0;
      }
    }

    &:active {
      .work-item__desc {
        top: 0;
        color: rgba(255,255,255,0.3);
      }
    }
  }

  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    // top: 0;
    top: 100%;
    height: 100%;
    padding: 40px;
    background-color: @blue-ra;
    .trz(top, .3s);
    color: #fff;
  }

  &__hdr {
    margin-top: -2px;
    margin-bottom: 8px;
    color: inherit;
  }

  &__text {
    font-weight: 300;
  }
}


// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .works {
    padding: 0;
  }

  .work-item,
  .work-item.big {
    display: block;
    width: 100%;
    float: none;
    padding: 0 20px;
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }

  .work-item__desc {
    padding: 20px;
  }
}