.work-item {
  position: relative;

  &--small {
    
    &+& {
      margin-top: 40px;
    }
  }

  &__wrap {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .tdn;

    &:hover {
      .work-item__desc {
        top: 0;
      }
    }

    &:active {
      .work-item__desc {
        top: 0;
        color: rgba(255,255,255,0.3);
      }
    }

  }

  &__img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
  }

  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    // top: 0;
    top: 100%;
    height: 100%;
    padding: 40px;
    background-color: @blue-ra;
    .trz(top, .3s);
    color: #fff;
  }

  &__hdr {
    margin-top: -2px;
    margin-bottom: 8px;
    color: inherit;
  }

  &__text {
    font-weight: 300;
  }
}

.animateWorkItem {
  transform: scale(1);
  animation: workItem 1s;
}

@keyframes workItem {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .work-item {
    &--small {
      &+& {
        margin-top: 0;
      }
    }
  }
}