
.icon-branding:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2266%22%20height%3D%2253%22%20viewBox%3D%220%200%2066%2053%22%20fill%3D%22%23007aff%22%3E%3Cpath%20d%3D%22M65.665%2017.937c0-.057-.02-.11-.032-.165.063-.265.026-.55-.14-.793L54.204.435c-.004-.003-.008-.005-.01-.01-.02-.024-.046-.042-.065-.066-.04-.047-.085-.087-.134-.126-.032-.026-.058-.06-.092-.08-.003-.003-.005-.007-.01-.01-.02-.012-.044-.012-.065-.023-.05-.025-.104-.043-.16-.06-.043-.014-.082-.035-.125-.043-.033-.005-.066%200-.1-.003C53.418.012%2053.4%200%2053.375%200H12.292c-.024%200-.043.012-.067.014-.033.002-.065-.002-.098.003-.044.007-.084.028-.127.042-.057.017-.11.035-.162.06-.02.012-.044.012-.065.025l-.008.007c-.034.02-.06.055-.09.08-.05.04-.096.08-.137.13-.02.022-.046.04-.063.064-.002.004-.007.006-.01.01L.175%2016.978c-.166.242-.203.528-.14.792-.01.056-.032.11-.033.167l-.002.01c0%20.05.02.09.027.135.01.08.017.16.047.236.03.076.082.14.13.205.026.037.04.08.072.115L32.11%2052.023c.005.007.013.008.02.015.006.006.008.014.014.02.008.007.018.01.026.016l.045.04c.053.042.112.07.172.103.025.012.045.032.07.043l.036.01c.014.006.027.013.042.018.002%200%20.003.002.005.003.088.028.177.04.265.04.01.002.018.006.028.006.01%200%20.02-.004.03-.005.087%200%20.176-.012.264-.04l.005-.002c.015-.005.027-.012.042-.018l.035-.01c.024-.01.045-.03.07-.043.06-.03.12-.06.172-.103l.045-.04c.008-.006.02-.01.026-.016.006-.006.008-.014.014-.02.006-.007.015-.008.02-.015L65.39%2018.638c.03-.033.043-.074.07-.11.048-.067.1-.132.132-.21.03-.074.035-.15.046-.23.007-.047.028-.09.028-.14v-.01zM51.6%202l-8.495%2014.02L34.608%202H51.6zM41.33%2016.948H24.338l8.496-14.02%208.498%2014.02zM31.06%202l-8.497%2014.02L14.066%202H31.06zm-18.818.847l8.546%2014.1H2.616l9.626-14.1zm-8.907%2016.1h18.488l8.807%2028.628L3.335%2018.948zm29.498%2028.988L23.915%2018.95H41.75l-8.917%2028.985zm2.203-.36l8.808-28.627h18.488L35.036%2047.575zm9.843-30.627l8.546-14.1%209.625%2014.1H44.88z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 66px;
  height: 53px;
}

.btn-close:hover:before ,
.icon-btn-close-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2031.8%2031.9%22%20enable-background%3D%22new%200%200%2031.8%2031.9%22%3E%3Cpath%20fill%3D%22%23003aff%22%20d%3D%22M17.3%2016L31.5%201.7c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200L15.9%2014.6%201.7.3C1.3-.1.7-.1.3.3c-.4.4-.4%201%200%201.4L14.5%2016%20.3%2030.2c-.4.4-.4%201%200%201.4.2.2.4.3.7.3.3%200%20.5-.1.7-.3l14.2-14.3%2014.2%2014.3c.2.2.4.3.7.3.3%200%20.5-.1.7-.3.4-.4.4-1%200-1.4L17.3%2016z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.btn-close:before,.btn-close:active:before ,
.icon-btn-close:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2031.8%2031.9%22%20enable-background%3D%22new%200%200%2031.8%2031.9%22%3E%3Cpath%20fill%3D%22%23007aff%22%20d%3D%22M17.3%2016L31.5%201.7c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200L15.9%2014.6%201.7.3C1.3-.1.7-.1.3.3c-.4.4-.4%201%200%201.4L14.5%2016%20.3%2030.2c-.4.4-.4%201%200%201.4.2.2.4.3.7.3.3%200%20.5-.1.7-.3l14.2-14.3%2014.2%2014.3c.2.2.4.3.7.3.3%200%20.5-.1.7-.3.4-.4.4-1%200-1.4L17.3%2016z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.header__hamburger-btn:after,
.icon-close-mobile:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2037.3%2037.3%22%20enable-background%3D%22new%200%200%2037.3%2037.3%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M1.1%2036.2L36.2%201.1M36.2%2036.2L1.1%201.1%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.icon-ftr-arr:hover:before,.icon-ftr-arr:active:before,
.icon-ftr-arr-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2212%22%20viewBox%3D%220%200%2039.4%2021.8%22%20enable-background%3D%22new%200%200%2039.4%2021.8%22%3E%3Cpath%20stroke%3D%22%23999%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M2.1%2019.7L19.7%202.1M19.7%202.1l17.6%2017.6%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23px;
  height: 12px;
}

.icon-ftr-arr:before,
.icon-ftr-arr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2212%22%20viewBox%3D%220%200%2039.4%2021.8%22%20enable-background%3D%22new%200%200%2039.4%2021.8%22%3E%3Cpath%20stroke%3D%22%23abacac%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M2.1%2019.7L19.7%202.1M19.7%202.1l17.6%2017.6%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 23px;
  height: 12px;
}

.footer__nav-item:hover .footer__arrow--left:before,
.icon-ftr-left-arr-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230.4%22%20height%3D%2220.2%22%20viewBox%3D%2211.9%20-35.3%2030.4%2020.2%22%20enable-background%3D%22new%2011.9%20-35.3%2030.4%2020.2%22%3E%3Cpath%20stroke%3D%22%23003aff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M41.5-25.2H12.6M12.6-25.2l9.4%209.4M12.6-25.2l9.4-9.4%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 30.4px;
  height: 20.2px;
}

.footer__arrow--left:before,.footer__nav-item:active .footer__arrow--left:before,
.icon-ftr-left-arr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230.4%22%20height%3D%2220.2%22%20viewBox%3D%2211.9%20-35.3%2030.4%2020.2%22%20enable-background%3D%22new%2011.9%20-35.3%2030.4%2020.2%22%3E%3Cpath%20stroke%3D%22%231f82ff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M41.5-25.2H12.6M12.6-25.2l9.4%209.4M12.6-25.2l9.4-9.4%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 30.4px;
  height: 20.2px;
}

.icon-ftr-logo:hover:before,
.icon-ftr-logo-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2231%22%20height%3D%2236%22%20viewBox%3D%220%200%2031%2036%22%20fill%3D%22%23003aff%22%3E%3Cpath%20d%3D%22M9.9%2021.3c.7.6%201.5.9%202.5.9.7%200%201.2%200%201.5-.1.4-.1.7-.2%201.1-.4.3-.1.6-.3.8-.5.3-.2.5-.4.8-.7h.1c.2.6.5%201%201%201.3.5.3%201.2.5%202.3.5.6%200%201.1-.1%201.6-.2s.9-.3%201.3-.4v-.9h-.8c-.3%200-.5-.1-.7-.1-.2-.1-.4-.3-.5-.5-.1-.2-.2-.5-.2-.9v-5.9c0-.9%200-1.6-.3-2.2-.3-.6-.7-1-1.2-1.3-.5-.3-1.2-.5-1.8-.6-.7-.3-1.5-.3-2.3-.3-.6%200-1.2.1-1.9.2s-1.3.3-1.8.6c-.5.2-1%20.5-1.4.9-.4.4-.6.8-.6%201.3s.2%201%20.5%201.3c.4.3.9.5%201.6.5.5%200%20.9%200%201.1-.1.2-.1.5-.2.6-.4.1-.1.3-.3.3-.5.1-.2.1-.4.1-.5%200-.3-.1-.6-.2-1-.1-.3-.2-.6-.2-.8.2-.1.3-.2.6-.3.2-.1.6-.2.9-.2.4%200%20.7.1%201%20.3.2.2.4.4.6.7.1.2.2.5.2.9v2c-.5.2-1.3.5-2.3.8-1.1.3-2%20.6-2.7.9-.4.1-.8.3-1.1.5-.3.2-.6.4-.9.7-.3.3-.5.6-.6%201%20.1.2%200%20.7%200%201.2%200%201%20.3%201.7%201%202.3zm3.6-4.2c.2-.4.4-.7.7-.9.3-.2.7-.4%201.1-.6.5-.2.9-.4%201.4-.5l-.1%204.3c-.2.3-.5.5-.8.7-.3.2-.7.3-1.1.3-.4%200-.8-.1-1.1-.4-.3-.3-.4-.8-.4-1.4%200-.7.1-1.2.3-1.5zM29%200H0v36l2.7-1%2012.8-4.8L28.3%2035l2.7%201V0h-2zm0%2033.1l-13.5-5-13.5%205V2h27v31.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 31px;
  height: 36px;
}

.icon-ftr-logo:before,.icon-ftr-logo:active:before,
.icon-ftr-logo:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2231%22%20height%3D%2236%22%20viewBox%3D%220%200%2031%2036%22%20fill%3D%22%23007aff%22%3E%3Cpath%20d%3D%22M9.9%2021.3c.7.6%201.5.9%202.5.9.7%200%201.2%200%201.5-.1.4-.1.7-.2%201.1-.4.3-.1.6-.3.8-.5.3-.2.5-.4.8-.7h.1c.2.6.5%201%201%201.3.5.3%201.2.5%202.3.5.6%200%201.1-.1%201.6-.2s.9-.3%201.3-.4v-.9h-.8c-.3%200-.5-.1-.7-.1-.2-.1-.4-.3-.5-.5-.1-.2-.2-.5-.2-.9v-5.9c0-.9%200-1.6-.3-2.2-.3-.6-.7-1-1.2-1.3-.5-.3-1.2-.5-1.8-.6-.7-.3-1.5-.3-2.3-.3-.6%200-1.2.1-1.9.2s-1.3.3-1.8.6c-.5.2-1%20.5-1.4.9-.4.4-.6.8-.6%201.3s.2%201%20.5%201.3c.4.3.9.5%201.6.5.5%200%20.9%200%201.1-.1.2-.1.5-.2.6-.4.1-.1.3-.3.3-.5.1-.2.1-.4.1-.5%200-.3-.1-.6-.2-1-.1-.3-.2-.6-.2-.8.2-.1.3-.2.6-.3.2-.1.6-.2.9-.2.4%200%20.7.1%201%20.3.2.2.4.4.6.7.1.2.2.5.2.9v2c-.5.2-1.3.5-2.3.8-1.1.3-2%20.6-2.7.9-.4.1-.8.3-1.1.5-.3.2-.6.4-.9.7-.3.3-.5.6-.6%201%20.1.2%200%20.7%200%201.2%200%201%20.3%201.7%201%202.3zm3.6-4.2c.2-.4.4-.7.7-.9.3-.2.7-.4%201.1-.6.5-.2.9-.4%201.4-.5l-.1%204.3c-.2.3-.5.5-.8.7-.3.2-.7.3-1.1.3-.4%200-.8-.1-1.1-.4-.3-.3-.4-.8-.4-1.4%200-.7.1-1.2.3-1.5zM29%200H0v36l2.7-1%2012.8-4.8L28.3%2035l2.7%201V0h-2zm0%2033.1l-13.5-5-13.5%205V2h27v31.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 31px;
  height: 36px;
}

.footer__nav-item:hover .footer__arrow--right:before,
.icon-ftr-right-arr-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230.4%22%20height%3D%2220.2%22%20viewBox%3D%2211.9%20-35.3%2030.4%2020.2%22%20enable-background%3D%22new%2011.9%20-35.3%2030.4%2020.2%22%3E%3Cpath%20stroke%3D%22%23003aff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M12.6-25.2h28.9M41.5-25.2l-9.4-9.4M41.5-25.2l-9.4%209.4%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 30.4px;
  height: 20.2px;
}

.footer__arrow--right:before,.footer__nav-item:active .footer__arrow--right:before,
.icon-ftr-right-arr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230.4%22%20height%3D%2220.2%22%20viewBox%3D%2211.9%20-35.3%2030.4%2020.2%22%20enable-background%3D%22new%2011.9%20-35.3%2030.4%2020.2%22%3E%3Cpath%20stroke%3D%22%231f82ff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M12.6-25.2h28.9M41.5-25.2l-9.4-9.4M41.5-25.2l-9.4%209.4%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 30.4px;
  height: 20.2px;
}


.icon-gl_small-arr-right:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.4%22%20height%3D%2276.9%22%20viewBox%3D%220%200%2041.4%2076.9%22%3E%3Cpath%20stroke%3D%22%23000%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M38.4%2038.4L3%2073.9M38.4%2038.4L3%203%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 41.4px;
  height: 76.9px;
}

.icon-inst:hover:before,
.icon-inst-hvr:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%23003aff%22%3E%3Cpath%20d%3D%22M18.8%200H1.3C.6%200%200%20.6%200%201.2v17.5c0%20.7.6%201.3%201.3%201.3h17.5c.7%200%201.2-.6%201.2-1.2V1.2c0-.6-.6-1.2-1.2-1.2zM7.5%2010s.2-2.5%202.5-2.5%202.5%202.5%202.5%202.5.1%202.5-2.5%202.5S7.5%2010%207.5%2010zm10%207.5h-15V8.8h2.7c-.1.4-.2.8-.2%201.2%200%202.8%202.2%205%205%205s5-2.2%205-5c0-.4-.1-.8-.2-1.2h2.7v8.7zm0-11.3h-3.8V2.5h3.8v3.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-inst:before,.icon-inst:active:before,
.icon-inst:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%23007aff%22%3E%3Cpath%20d%3D%22M18.8%200H1.3C.6%200%200%20.6%200%201.2v17.5c0%20.7.6%201.3%201.3%201.3h17.5c.7%200%201.2-.6%201.2-1.2V1.2c0-.6-.6-1.2-1.2-1.2zM7.5%2010s.2-2.5%202.5-2.5%202.5%202.5%202.5%202.5.1%202.5-2.5%202.5S7.5%2010%207.5%2010zm10%207.5h-15V8.8h2.7c-.1.4-.2.8-.2%201.2%200%202.8%202.2%205%205%205s5-2.2%205-5c0-.4-.1-.8-.2-1.2h2.7v8.7zm0-11.3h-3.8V2.5h3.8v3.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.map-pointer,
.icon-map-pointer:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2277.1%22%20viewBox%3D%229%200.5%2060%2077.1%22%20enable-background%3D%22new%209%200.5%2060%2077.1%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M69%2030.5c0-16.6-13.4-30-30-30S9%2013.9%209%2030.5c0%207.1%202.5%2013.6%206.6%2018.7%207.7%209.7%2018.7%2023.3%2022.3%2027.8.3.4.7.6%201.2.6s.9-.2%201.2-.6c3.6-4.5%2014.5-18.1%2022.3-27.8%203.9-5.1%206.4-11.7%206.4-18.7zM57.6%2045.7L39%2068.9l-18.4-23-.2-.2-.2-.2c-3.4-4.3-5.3-9.5-5.3-15%200-13.2%2010.8-24%2024-24s24%2010.8%2024%2024c0%205.5-1.8%2010.7-5.3%2015%20.1%200%200%20.1%200%20.2z%22%2F%3E%3Ccircle%20cx%3D%2239%22%20cy%3D%2230.5%22%20r%3D%2210.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 60px;
  height: 77.1px;
}


.icon-message-success:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22116%22%20height%3D%2276%22%20viewBox%3D%222%207%20116%2076%22%20enable-background%3D%22new%202%207%20116%2076%22%3E%3Cpath%20fill%3D%22%237CCF32%22%20d%3D%22M97.9%2038.8V15c0-1.1-.5-2.2-1.2-2.9L65.9%2038.7l11.6%2010.1c3.9-6.1%2010.7-10.1%2018.4-10.1.7%200%201.3.1%202%20.1zM75.7%2052.4L63%2041.3l-10.7%209.3-10.7-9.3-29%2025.2h62.3c-.5-1.9-.8-3.9-.8-6%200-2.8.5-5.6%201.6-8.1zm.8%2018.1H10.6c-4.4%200-8-3.5-8-7.9V14.9c0-4.4%203.6-7.9%208-7.9h83.3c4.4%200%208%203.5%208%207.9v24.7c9.2%202.6%2015.9%2011%2015.9%2021%200%2012.1-9.8%2021.8-21.8%2021.8-8.6%200-15.9-4.8-19.5-11.9zM7.9%2012.1c-.8.7-1.2%201.8-1.2%202.9v47.6c0%201.2.5%202.2%201.2%202.9l30.7-26.7L7.9%2012.1zm44.3%2033.4L91.9%2011H12.6l39.6%2034.5zm43.7%2032.9c9.9%200%2017.9-8%2017.9-17.9%200-9.9-8-17.9-17.9-17.9-9.9%200-17.9%208-17.9%2017.9%200%209.9%208%2017.9%2017.9%2017.9zm-2-6.9l-9.3-9.3%202.9-2.9%206.4%206.4%2012.4-12.4%202.9%202.9-15.3%2015.3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 116px;
  height: 76px;
}


.icon-photo:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2269%22%20height%3D%2253%22%20viewBox%3D%220%200%2069%2053%22%20fill%3D%22%23007aff%22%3E%3Cpath%20d%3D%22M5.886%206.03h11.938c.553%200%201-.447%201-1s-.447-1-1-1H5.886c-.553%200-1%20.45-1%201s.447%201%201%201zM63.917%208.03H45.512L41.224.506c-.02-.038-.058-.06-.083-.095-.04-.056-.082-.11-.135-.155-.05-.042-.102-.074-.156-.106-.056-.033-.108-.063-.17-.084-.066-.024-.135-.033-.205-.042C40.433.02%2040.397%200%2040.355%200H26.916c-.04%200-.072.018-.11.022-.084.008-.164.02-.243.05-.034.012-.062.03-.095.046-.09.043-.17.094-.242.163-.016.016-.028.033-.043.05-.053.057-.112.105-.152.175L21.745%208.03H5c-2.75%200-5%202.25-5%205v34.017c0%202.75%202.25%205%205%205h58.917c2.75%200%205-2.25%205-5V13.03c0-2.75-2.25-5-5-5zm3%2039.017c0%201.654-1.346%203-3%203H5c-1.654%200-3-1.346-3-3V13.03c0-1.653%201.346-3%203-3h17.905l.39-.682c0-.003.005-.006.007-.01L27.482%202h12.29l4.182%207.34c.005.008.014.015.02.024l.38.667h19.563c1.654%200%203%201.347%203%203v34.017zM34.458%2015.115c-8.237%200-14.916%206.678-14.916%2014.916%200%208.24%206.68%2014.918%2014.916%2014.918%208.238%200%2014.917-6.68%2014.917-14.917s-6.68-14.915-14.917-14.915zm0%2027.833c-7.122%200-12.916-5.794-12.916-12.917%200-7.12%205.794-12.915%2012.916-12.915S47.375%2022.91%2047.375%2030.03c0%207.124-5.795%2012.918-12.917%2012.918zM57.458%2016.073c-1.955%200-3.54%201.585-3.54%203.542s1.585%203.542%203.54%203.542c1.956%200%203.542-1.585%203.542-3.542s-1.586-3.542-3.542-3.542zm0%205.083c-.85%200-1.54-.69-1.54-1.542s.69-1.542%201.54-1.542c.85%200%201.542.69%201.542%201.542s-.69%201.542-1.542%201.542z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 69px;
  height: 53px;
}


.icon-sl-arr-left:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2242.3%22%20viewBox%3D%220%200%2022%2042.3%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M20.8%201.5L1.2%2021.1m0%200l19.7%2019.7%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 22px;
  height: 42.3px;
}


.icon-sl-arr-right:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2242.3%22%20viewBox%3D%220%200%2022%2042.3%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1.2%2040.8l19.7-19.7m-.1%200L1.2%201.5%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 22px;
  height: 42.3px;
}


.icon-websites:before {
  content: '';
  display: block;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2272%22%20height%3D%2253%22%20viewBox%3D%220%200%2072%2053%22%20fill%3D%22%23007aff%22%3E%3Ccircle%20cx%3D%2259.542%22%20cy%3D%2245.476%22%20r%3D%221.492%22%2F%3E%3Cpath%20d%3D%22M58.073%2018.98h2.958c.547%200%20.99-.444.99-.99s-.443-.99-.99-.99h-2.957c-.547%200-.99.443-.99.99s.443.99.99.99zM66.042%2012V5c0-2.75-2.25-5-5-5H5C2.25%200%200%202.25%200%205v32.984c0%202.75%202.25%205%205%205h22.425l-1.173%207.684-.048.316h-3.6c-.552%200-1%20.448-1%201%200%20.553.448%201%201%201h20.834c.552%200%201-.447%201-1%200-.552-.448-1-1-1h-3.6l-.05-.316-1.172-7.684h9.76V48c0%202.75%202.25%205%205%205H66.04c2.75%200%205-2.25%205-5V17c.002-2.75-2.248-5-4.998-5zm-28.23%2038.968H28.23l1.218-7.984h7.146l1.22%207.984zm10.563-9.984H5c-1.654%200-3-1.346-3-3V36h46.375v4.984zm0-23.984v17H2V5c0-1.654%201.346-3%203-3h56.042c1.654%200%203%201.346%203%203v7H53.375c-2.75%200-5%202.25-5%205zm20.667%2031c0%201.654-1.346%203-3%203H53.375c-1.654%200-3-1.346-3-3V17c0-1.654%201.346-3%203-3H66.04c1.655%200%203%201.346%203%203v31z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 72px;
  height: 53px;
}

